@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  --primary: #231f3a;
  --primary-light: #2f2a4d;

  --secondary: #587e8d;
  --secondary-light: #6f94a1;

  --accent: #5c4154;

  --background: #ffffff;
  --foreground: #111827;
}
